body{
    text-align: center;
    background-color: #0a2ff1;
    padding: 3% 0% 3% 0%;
    margin: 0;
}

.container{
    background-color: white;
}

.titulo-pequeno{
    font-family: 'Montserrat', sans-serif;
    color: #0a2ff1;
    margin: 0%;
    font-weight:  900;
    font-size: 66.6px;
}

.titulo-mediano{
    font-family: 'Montserrat', sans-serif;
    color:white;
    margin: 9% 0% 2% 0%;
    background-color: black;
    font-weight:  900;
    font-size: 197.3px;
}

.titulo-grande{
    font-family: 'Montserrat', sans-serif;
    margin: 0%;
    padding: 10%;
    color: black;
    font-weight:  900;
    font-size: 217.3px;
}

.descuentos-grande{
    font-family: 'Montserrat', sans-serif;
    color: #0a2ff1;
    margin: 0%;
    padding: 0%;
    font-weight:  600;
    font-size: 48px;
}

.descuentos{
    font-family: 'Montserrat', sans-serif;
    font-weight:  900;
    font-size: 48px;
}

.mensaje{
    font-family: 'Montserrat', sans-serif;
    color: #0a2ff1;
    margin: 0%;
    padding-top: 3%;
    font-weight:  600;
    font-size: 48px;
}

#porciento{
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    color: white;
    background-color: black;
}
